.home-container {
  /* MAIN SECTION STARTS */
  /* ENJOY ON YOUR TV */
  .main-section {
    .section-container {
      border-top: 8px solid #222;
      background-color: black;
      display: flex;
      // SECTION CONTAINER # 1 LAYOUT
      .left-column h1 {
        color: white;
      }
      .left-column h3 {
        color: white;
        font-size: 1.4rem;
        font-weight: normal;
        margin-top: 5%;
      }
      .right-column {
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 500px;
      }
      .right-column img {
        position: absolute;
        width: 100%;
      }
    }

    /*DOWNLOAD YOU SHOW TO WATCH OFFLINE*/
    .section2-container {
      border-top: 8px solid #222;
      background-color: black;
      display: flex;
      padding: 0px 80px;
      padding-bottom: 90px;
      padding-top: 50px;
      // SECTION #2 LAYOUT
      .left-column img {
        width: 100%;
      }
      .left-column .box {
        border: 2px solid rgba(255, 255, 255, 0.25);
        background-color: black;
        border-radius: 10px;
        width: 60%;
        padding: 10px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        margin-top: -22%;
      }
      .left-column .box .boxshot {
        width: 15%;
      }
      .left-column .box label {
        margin-left: 20px;
        color: white;
        font-weight: 700;
      }
      .left-column .box .download-gif {
        width: 3em;
        height: 3em;
        position: absolute;
        right: 0;
      }
      .right-column {
        padding-top: 13%;
        padding-right: 2%;
        width: 50%;
      }
      .right-column h1 {
        color: white;
      }
      .right-column h3 {
        color: white;
        font-size: 1.4rem;
        font-weight: normal;
        margin-top: 5%;
      }
      /*WATCH EVERY WHERE*/
      .right-column .video-2 {
        margin-left: 19%;
        margin-top: 8%;
        width: 61%;
      }
      /*CREATE PROFILE FOR KIDS*/
      .left-column img {
        width: 100%;
      }
    }
  }
  /* MAIN SECTION ENDS */
}

// -----------------------SECTION BREAKPOINTS-------------

// SMALL DEVICES
@media only screen and (max-width: 1020px) {
  .section-container {
    padding: 50px 50px;
    flex-direction: column;
    justify-content: center;
    .left-column {
      h1,
      h3 {
        text-align: center;
      }
      h1 {
        font-size: 48px;
      }
    }
    .video-1 {
      margin-left: 13%;
      margin-top: 15%;
      width: 73%;
    }
  }
}

// LARGE DEVICES
@media only screen and (min-width: 1021px) {
  .section-container {
    padding: 0px 80px;
    .right-column,
    .left-column {
      display: flex;
      align-items: center;
    }
    .left-column {
      padding-top: 2%;
      padding-right: 2%;
    }
    .video-1 {
      margin-left: 13%;
      margin-top: -3%;
      width: 73%;
    }
  }
}
