.login-form-container {
  margin-top: 40pt;
  display: flex;
  justify-content: center;
  .form-box {
    padding: 40px 45px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    h1 {
      color: white;
    }
  }
}
