// POSTER CONTAINER -> BOXES ( ENCLOSED WITH OWN CONTAINER TO MAKE SURE IT IS SCOPED PROPERLY)
.row-container {
  margin-left: 20px;
  .row-posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    .poster-img {
      width: 100%;
      object-fit: contain;
      max-height: 100px;
      transition: transform 450ms;
      margin-right: 10px;
      cursor: pointer;
    }
    .poster-img:hover {
      transform: scale(1.08);
    }
    .poster-imgLarge {
      max-height: 250px;
    }
    .poster-imgLarge:hover {
      transform: scale(1.09);
    }
  }
  .row-posters::-webkit-scrollbar {
    display: none;
  }
}
